body{

background-color: rgba(252, 232, 236, 0.466);
}
img {
  float:left;
  border: dotted thin gray;
  margin: 20px;
  height: 200px;
  width: 200px;
}

h1 {
  font-family: 'Baloo Bhaina';
  font-size: 100px;
  float: left;
  margin: 20px;
}

p {
  font-family: 'Open Sans', sans-serif;
  clear: left;
  margin: 20px;
}